<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Successfull Payment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Successfull Payment</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Thank You!</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p>Your payment was successful.</p>
      <p>Thank you for your order!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
